#about .section-header {
  background: url("https://lh3.googleusercontent.com/p/AF1QipMK3goSnbivsN-lAcXXHduU0culCTyWroFWdYmi=s1360-w1360-h1020");
  background-position: 25% 30%;
}

#about p {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  border-radius: 5%;
}

#about h2 {
  font-family: "Bebas Neue", cursive;
}
