.bg-one {
  background-color: #ffe9a0;
}

.bg-two {
  background-color: #dcb46d;
}

.bg-three {
  background-color: #4e6c50;
}

.section-header {
  padding: 15rem;
  text-align: center;
}

.section-header h2 {
  background-color: rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

ul {
  padding: 0rem;
  margin: 0rem;
}

* {
  font-family: "Oswald", sans-serif;
}

body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFn3vme-9tcv1FmwOAcVz05JdFPDfExvKFq7tWqh4WHyBJvGUxleDUKvMFINYeZSOGubg&usqp=CAU");
}
