#menu .section-header {
  background: url("https://lh3.googleusercontent.com/p/AF1QipPUuKTm5cIOwRWbNFof8kuDdLNRRwps4PiemS2f=s1360-w1360-h1020");
  background-position: 50%;
}

#menu h2,
#menu h3,
#menu h4 {
  font-family: "Bebas Neue", cursive;
}
